<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
  	<!-- propriedades de configuração do driver -->
    <property name="hibernate.connection.username">
      root
    </property>
    <property name="hibernate.connection.password">
      password
    </property>
    <property name="hibernate.connection.url">
      jdbc:mysql://localhost/engenharia
    </property>
    <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
    </property>
    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQL5InnoDBDialect
    </property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    
    <!-- mapeamento das classes a serem persistidas -->
    <mapping class="br.com.padaria.model.Produto"/>
    <mapping class="br.com.padaria.model.Usuario"/>
    <mapping class="br.com.padaria.model.Promocao"/>
    
  </session-factory>
  
  
  
</hibernate-configuration>